<div class="portfolio">
    <div class="quote">
        <figure class="text-center">
            <blockquote class="blockquote">
              <p>"Pursue excellence and success will follow, pants down"</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              <cite title="Source Title">3 Idiots</cite>
            </figcaption>
          </figure>
    </div>
    <div class="headings">
        <p>Portfolio</p>
        <h1>My Best Collections</h1>
        <span class="line"></span>
    </div>
    <div class="sub-text">
        <p>Throughout my college carreer,
            here are my best works I've done so far.<br/>
            (Hover on the cards to see each project details)<br/>
            Laus Deo Semper!
        </p>
    </div>
    <div class="cards">
        <div class="left-part">
            <div class="flip-card" id="card1">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                      
                    <img src="assets/conference.PNG" alt="Research Conferences" style="width:350px;height:340px;" class="images">
                  </div>
                  <div class="flip-card-back">
                    <div class="headings2">
                        <h3>Research Conferences</h3>
                        <p class="details">HTML / CSS / JS</p>
                        <hr>
                        <p class="otherdets">Research Conferences, a prelim project requirement that was made using AngularJS with 3 generated components and integrated bootstrap.</p>
                    </div>
                    <div class="visit">
                        <a href="#works">
                        <p>More details</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                              </svg>
                        </a>
                    </div>
                        
                  </div>
                </div>
              </div>
              <div class="flip-card" id="card2">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="assets/WCKitchen.jpg" alt="Seda Hotel" style="width:350px;height:340px;" class="images">
                  </div>
                  <div class="flip-card-back">
                    <div class="headings2">
                        <h3>WCKitchen</h3>
                        <p class="details">HTML / CSS / JS / MONGODB</p>
                        <hr>
                        <p class="otherdets">
                            WCKitchen is a project for one of our Web Development course.
                           In this project we used a JavaScript framework (VueJS) and MongoDB as its database.
                        </p>
                    </div>
                    <div class="visit">
                        <a href="#works">
                        <p>More details</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                              </svg>
                        </a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="flip-card" id="card3">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/official3.PNG" alt="Moshi Kicks and Goodies" style="width:700px;height:700px;" class="images">
              </div>
              <div class="flip-card-back">
                <div class="headings2">
                    <h3>Moshi's Kicks and Goodies </h3>
                    <p class="details">HOSTINGER & WORDPRESS</p>
                    <hr>
                    <p class="otherdets">Moshi's Kicks and Goodies is a project we created for a client's business to boost its sales and expand its market. This is our first published website using Hostinger as our hosting and Wordpress as our CMS. 
                       Through the help of Wordpress and its plugins we are able to optimize the website and appear in google search. We consider this project as one of our major project for our web development course. 
                    </p>
                </div>
                <div class="visit">
                    <a href="https://moshiskicksandgoodies.com/" target="_blank">
                    <p>Visit Page</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                          </svg>
                    </a>
                </div>
              </div>
            </div>
          </div>
          <div class="flip-card" id="card4">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="assets/inventory2.png" alt="Avatar" style="width:350px;height:700px;" class="images">
              </div>
              <div class="flip-card-back">
                <div class="headings2">
                    <h3>Moshi's Kicks and Goodies Inventory</h3>
                    <p class="details">PHP / CSS / JS / MONGODB</p>
                    <hr>
                    <p class="otherdets">This Inventory project was created to aid our client in its inventory management. This application allows our client to manage and monitor their sales.
                        We used MongoDB as our database. Php, CSS and JQuery for aestethic and structure of our system. 
                    </p>
                </div>
                <div class="visit">
                    <a href="#works">
                    <p>More Details</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                          </svg>
                    </a>
                </div>
              </div>
            </div>
          </div>
    </div>
    
    
</div>