<div class="home">
    <div class="main">
        <div class="profiles">
            <img class="bottom" src="assets/icon_profile4.jpeg" id="profile"/>
            <img class="top" src="assets/icon_profile2.png" id="profile"/>
        </div>
        <div class="profile-detail">
            <h1>Hello. I'm Mark Raphael</h1>
           <p><b>Developer, Illustrator & Programmer</b></p><br>
           <span class="line"></span>
           <div class="details">
            <p>I am a 3rd Year Web Development student who loves to code, <br/>design websites
            and create digital illustrations. I aim to use my skills to its 
            <br/> fullest on the field of IT and to become a full-stack developer.</p>
           </div>
           <div class="lenks">
                <p class="know-me-more"><a href="#about">MORE ABOUT ME</a></p>
                <p class="my-works"><a href="#works">SEE MY WORKS</a></p>  
           </div>
           
        </div>
    </div>
    <div class="offset-bg"></div>
    <div class="offset-border"></div>
</div>
<!-- Colors

#313131
#424242
#5B5B5B
#FFB740



-->